@use '../abstracts' as *;

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.5rem;

  &__logo {
    --font-weight: 600;
    --c: var(--c-neutral-800);
    --c-ha: var(--c-neutral-800);
    font-size: 2rem;
    text-transform: uppercase;
    img {
      width: 2.5rem;
      height: 2.5rem;
    }

    @include bp(med) {
      img {
        width: 3rem;
        height: 3rem;
      }
    }

    @include bp(wide) {
      flex-shrink: 0;
    }
  }

  &__toggle {
    position: relative;
    z-index: 2;
    padding: 0.25em;
    cursor: pointer;

    @include bp(med) {
      display: none;
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 9rem 5.75rem 2rem 2rem;
    transition: right 0.5s ease;

    &.open {
      right: 0;
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      background-color: hsl(var(--c-primary-100) / 0.05);
      -webkit-backdrop-filter: blur(1.5rem);
      backdrop-filter: blur(1.5rem);
    }

    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background-color: hsl(var(--c-primary-900) / 0.8);
    }

    @include bp(med) {
      position: revert;
      right: revert;
      height: revert;
      padding: 2.125rem 2.875rem;
      @supports not (
        (-webkit-backdrop-filter: none) or (backdrop-filter: none)
      ) {
        background-color: hsl(var(--c-primary-100) / 0.05);
      }
    }

    @include bp(wide) {
      position: relative;
      order: 2;
      padding-left: 7.7rem;
      padding-right: 10.3rem;
      flex-shrink: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;

    @include bp(med) {
      flex-direction: revert;
    }
  }

  &__item {
    position: relative;
    display: inline-block;
    & + & {
      margin-top: 1.625rem;
    }

    @include bp(med) {
      & + & {
        margin-top: 0;
        margin-left: 1.5rem;
      }
    }

    @include bp(wide) {
      font-size: var(--fs-100);
    }
  }

  @include bp(med) {
    padding-top: 0;
    padding-left: 2.5rem;
  }

  @include bp(wide) {
    &::after {
      position: relative;
      display: block;
      order: 1;
      width: 100%;
      height: 1px;
      margin-right: -2.5rem;
      margin-left: 2.5rem;
      background-color: hsl(var(--c-primary-100) / 0.25);
      content: '';
    }
  }
}
